@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
:root{
    /* holvamp-color */
    --holvampBlueColor: #00A9D2;
    /* bg-color */
    --holvampBgBlack: #191919;
    /* font */
    --holvampFontFamily:'Nunito Sans', sans-serif;
    --holvampFontMediumBoldWeight: 600;
    --holvampFontColorWhite: #f0f0f0;


}

.costum-bg-color {
    background-color: var(--holvampBgBlack);
}

*, h1, h2, h3, h4, h5, h6 {
    font-family: var(--holvampFontFamily) !important;
    font-weight: var(--holvampFontMediumBoldWeight);
    list-style: none;
}

p {
    font-weight: 400;
}

/* === BODY === */

body{
    /* background-color: var(--holvampBgBlack); */
    color: var(--holvampFontColorWhite);
}

ul li {
    display: inline-block;
}

ul li a {
    margin-left: 10px;
}

ul li a img {
    margin-right: 4px;
}


/* ==== nav ==== */
.nav-link:hover{
    filter: brightness(1);
    transition: .3s;
}

.nav-link { 
    filter: brightness(0.50); 
    transition: .3s;
}

.nav-link:focus{
    filter: brightness(1);
}



/* banner */
#banner {
    height: 90vh;
    background-image: url(assets/img/banner/holvamp-web-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -300px;
        
    
}

#banner .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#welcome-text {
    font-family: 'Rubik', sans-serif !important;
}

@media only screen and (min-width: 1000px){
    #welcome-text {
        font-size: 84px;
    }
}

@media only screen and (max-width: 768px){
    #banner {
        height: 90vh;
        background-image: url(assets/img/banner/holvamp-web-banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -100px;

    }      
    #welcome-text {
        font-size: 34px;
    }  

}

@media only screen and (min-width: 995px){
    .ui-desc {
        display: none !important;
    }
}